body{
    text-align: center;
    font: normal 14pt Calibri;
    background-color: black;
}
#menu{
    background-color: gray;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    margin: auto;
    padding: 20px;
}
#num1{
    width: 40px;
}
#num2{
    width: 40px;
}
h1{
    color: white;
    text-shadow: 2px 2px 1px black;
}
#res{
    margin-top: 40px;
    font: normal 72pt Arial;
}
#oper{
    background-color: blanchedalmond;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin: auto;
    padding: 5px;
    font-size:larger;
}
header{
    background-color: rgb(13, 61, 59);
    height: 50px;
    border-radius: 400px;
    width: 400px;
    margin: auto; 
}
footer{
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 210px;
}
